*.gem
*.rbc
.bundle
.config
config/mongoid.yml
bin/
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
config/twitter.rb

# YARD artifacts
.yardoc
_yardoc
doc/
